
<head>
    <script>
        function one(){
            alert("test");
            testup.location.href="http://127.0.0.1:9006/testmap"; 
        }
    </script>

   
<style>
    div {
        border: 3px solid orange;
        width: 300px;
        height: 200px;
        overflow: auto;
    }
    #both { resize: both; }
    </style>
</head>

<body>
    hello
<div>
<input type="text">
</div>

<form>
<div id="both" ; width:150px; height:150px>
<iframe id="one"
    title="Inline Frame Example"
    width="1000"
    height="1000"
    src="http://127.0.0.1:9006/testmap"
    name="testup"
    >
</iframe>
</div>  
<input type="button" onclick=one()>
</form>
</body>